# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl

# LaTeX
*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf

# macOS
.DS_Store

# Editor/IDE
.vscode/
ben-blake-llm-project-2025.code-workspace

# Local files
cheatsheet.txt

# Service account key
service-account-key.json

# deliverables
deliverables/